
name: RPC Tests
on:
  push:
    branches: [main, release/**]
  pull_request:

jobs:
  test:
    name: test RPC
    runs-on: ubuntu-latest
    env:
        STELLAR_RPC_URL: http://localhost:8000/soroban/rpc
        STELLAR_NETWORK_PASSPHRASE: "Standalone Network ; February 2017"
        STELLAR_ACCOUNT: default
        STELLAR_CONTRACT_ID: core
        PKG_CONFIG_PATH: /usr/lib/pkgconfig
    services:
      rpc:
        image: stellar/quickstart:testing
        ports:
          - 8000:8000
        env:
          ENABLE_LOGS: true
          NETWORK: local
          ENABLE_SOROBAN_RPC: true
        options: >-
          --health-cmd "curl --no-progress-meter --fail-with-body -X POST \"http://localhost:8000/soroban/rpc\" -H 'Content-Type: application/json' -d '{\"jsonrpc\":\"2.0\",\"id\":8675309,\"method\":\"getNetwork\"}' && curl --no-progress-meter \"http://localhost:8000/friendbot\" | grep '\"invalid_field\": \"addr\"'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 50
    steps:
    - uses: actions/checkout@v3
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libudev-dev libdbus-1-dev pkg-config
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          crates/loam-cli/tests/fixtures/soroban-init-boilerplate/target/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - run: rustup update
    - run: rustup target add wasm32v1-none
    - uses: taiki-e/install-action@just
    - uses: taiki-e/install-action@nextest
    - uses: cargo-bins/cargo-binstall@main
    - run: just setup
    - run: just create
    - run: just test-integration
    - run: just redeploy

